// Fonts
$primary-font: 'Open Sans', sans-serif;
// Colors
$white: #ffffff;
$black: #000000;
$grey-primary: #3E4952;
$grey-secondary: #545454;
$grey-light: #F4F4F4;
$blue-color: #006BB1;
$sky-blue: #00A1E7;
$grey-medium: #333333;
$lighter-blue: #DFF4FD;
$light-red: #DC4E41;
$light-blue: #55ACEE;
$dark-blue: #3B5998;
$medium-blue: #007AB9;
$dark-red: #FF0000;
$base-font-size: 16px;
$base-line-height: 1.5;


/*============= media screen variables here ==============*/

// Small devices (landscape phones, 576px and up)
$smscreen-size: 576px;
// Medium devices (tablets, 768px and up)
$mdscreen-size: 768px;
// Large devices (desktops, 992px and up)
$lgscreen-size: 992px;
// Extra large devices (large desktops, 1200px and up)
$xlscreen-size: 1200px;